.font-abel {
    font-family: "Abel";
    font-weight: 400;
    font-style: normal;
  }

.font-montserrat {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
}

.font-kanit {
    font-family: "Kanit";
    font-weight: 500;
    font-style: normal;
}

.text-main-color {
  color: #487F7F;
}

.text-secondary-color {
  color: #105050;
}

.text-tertiary-color {
  color: #90BCBC;
}

.bg-secondary-card {
  background-color: rgba(115, 207, 207, 0.13);
}

.accent-secondary-color {
  accent-color: #105050;
}

.button-primary-color {
  background-color: #105050;
}

.button-primary-color:hover {
  background-color: #90BCBC;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
    appearance: textfield;
}

.remove-calendar::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}